@tailwind utilities;

/* Mobile Bottom Navigation */
@layer utilities {
  .mobile-container {
  }
  }
  @media screen and (min-width: 768px) {
    .mobile-container {
      left: 315px; /* Hide on larger screens */
    }
  }
}
