@tailwind utilities;

/* Mobile Bottom Navigation */
@layer utilities {
  .mobile-container {
    /* position: fixed;
    width: 400px;
    height: 50px;
    padding: 10px;
    bottom: 0;
    left: 15px;
    background-color: black;
    padding: 0; */
  }
  @media screen and (min-width: 768px) {
    .mobile-container {
      left: 315px; /* Hide on larger screens */
    }
  }
}
