@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: black;
  --primary: #0070f3;
  --primary-foreground: white;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
  --primary: #0070f3;
  --primary-foreground: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
